<!doctype html>
<html lang="en">

<head>
    
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
    <script src="js/libs/jquery.js"></script>
    <script src="js/system/serverConfig.js"></script>
    <script>if (window.module) module = window.module;</script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

    <div class="section">

        <div class="video-container">
            <div class="color-overlay"></div>
            <video id="video" autoplay loop muted>
                <source id="source" type="video/mp4">
            </video>
        </div>

    </div>

    <div class="splash-container centeredX">
        <div class="centeredX">
            <form id="formURL">
                <h1 id="result" class="invisible"></h1>
                <input id="nfce" type="text" autocomplete="off">
                <button type="submit" class="invisible">Enviar</button>
            </form>
        </div>
    </div>

</body>

<script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
<script src="js/index.js"></script>
<script>if (window.module) module = window.module;</script>

</html>